---
layout: base.njk
title: Home
---

<div class="home-hero">
    <h1>Connecting Dots</h1>
    <p>Where the intellectual, personal, and spiritual converge.</p>

    <section class="explore-all">
        {# Use the url filter here too! #}
        <a href="{{ '/featured/' | url }}" class="btn">Explore Featured Posts</a>
    </section>
</div>